@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-green: #a8d570;
    --color-green-dark: #8fc455;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: var(--font-playfair), Georgia, serif;
    background-color: #ffffff;
    color: #000000;
  }
}
